<div class="login" style="height: 600px; width: 50%;margin: auto; text-align: center">
    <form style=" margin-top: 300px "  >
        <div class="form-group" style="color: white">
            <label for="exampleInputEmail1">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nhập Email của bạn" style=" text-align: center" name="txUser" [(ngModel)]="Account.email">
            <small id="emailHelp" class="form-text text-muted"style="color: white">Không chia sẻ tài khoản của bạn cho bất cứ ai</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1" style="color: white" >Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Mật khẩu" style=" text-align: center" name="txPass" [(ngModel)]="Account.password">
        </div>
        <div class="form-group form-check">
            <label class="form-check-label" for="exampleCheck1" >Đã có tài khoản?<a href="login.jsp"> Đăng nhập</a></label>
                <br/>Chưa có tài khoản?<a routerLink='/register'> Đăng ký ngay</a> <br/><a routerLink='/quenmatkhau'>Quên mật khẩu?</a>
        </div>
        <button type="button" class="btn btn-light"  (click)="getLogin()">Đăng nhập</button>
    </form>
</div>