<hr style="border: black 2px double">
<section>
        <footer class="container py-5">
          <div class="row">
            <div class="col-12 col-md">
              <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24" focusable="false"><title>Product</title><circle cx="12" cy="12" r="10"></circle><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"></path></svg>
              <small class="d-block mb-3 text-muted">© 2017-2019</small> -->
              <img style="margin-left:35px;margin-top:20px"
              src="http://icons.iconarchive.com/icons/google/noto-emoji-food-drink/64/32344-tangerine-icon.png"
              class="align-self-start mr-3" alt="logo Shop!">
          <a class="navbar-brand" href="#">
              <h3 style="color: red; ">SHOP FRUIT</h3>
          </a>
            </div>
            <div class="col-6 col-md">
              <h5>Dành cho người mua</h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Trung tâm trợ giúp</a></li>
                <li><a class="text-muted" href="#">Hướng dẫn mua hàng</a></li>
                <li><a class="text-muted" href="#">Vận chuyển</a></li>
                <li><a class="text-muted" href="#">Thanh toán</a></li>
                <li><a class="text-muted" href="#">Trả hàng và hoàn tiền</a></li>
              </ul>
            </div>
            <div class="col-6 col-md">
              <h5>Dành cho người bán</h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Quy định đối với người bán</a></li>
                <li><a class="text-muted" href="#">Chính sách bán hàng</a></li>
                <li><a class="text-muted" href="#">Hệ thống tiêu chí</a></li>
                <li><a class="text-muted" href="#">Hướng dẫn bán hàng</a></li>
              </ul>
            </div>
            <div class="col-6 col-md">
              <h5>Về ShopFruit</h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Giới thiệu về Shop Fruit</a></li>
                <li><a class="text-muted" href="#">Tuyển dụng</a></li>
                <li><a class="text-muted" href="#">Chính sách</a></li>
                <li><a class="text-muted" href="#">Điều khoản</a></li>
              </ul>
            </div>
            <div class="col-6 col-md">
              <h5>Theo dõi Shop</h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Facebook</a></li>
                <li><a class="text-muted" href="#">Instagram</a></li>
                <li><a class="text-muted" href="#">Zalo</a></li>
                <li><a class="text-muted" href="#">You Tube</a></li>
              </ul>
            </div>
          
          </div>
        </footer>
      </section>

      
