<div class="container-fluid">
    <app-slide-anh></app-slide-anh>
</div>

<div class="container" style="margin-top:30px">
    <h3><strong>Liên hệ Shop Fruit</strong></h3>
    <hr style="border: black 2px double">
    <div class="row">
        <div class="col-sm-4">
            <h5><strong style="color: red">Shop Fruit Nhổn Hà Nội</strong></h5><br>
            <p>Địa chỉ: <strong>58 Nhổn - Hà Nội</strong></p>
            <p>Số điện thoại: <strong>1900.8198</strong> phím 3 và <strong>0234.5678.910</strong></p>
            <p>Hotline: <strong>0943.876.097</strong></p>
            <p>Email: <a style="color: blue">nam@shopfruit.com.vn</a></p>
        </div>
        <div class="col-sm-4">
            <h5><strong style="color: red">Shop Fruit Tam Thiên Huế</strong></h5><br>
            <p>Địa chỉ: <strong>23 Tam Thiên - Huế</strong></p>
            <p>Số điện thoại: <strong>1900.8198</strong> phím 3 và <strong>0234.5678.910</strong></p>
            <p>Hotline: <strong>0943.876.098</strong></p>
            <p>Email: <a style="color: blue">trung@shopfruit.com.vn</a></p>
        </div>
        <div class="col-sm-4">
            <h5><strong style="color: red">Shop Fruit Quận 7 tpHCM</strong></h5><br>
            <p>Địa chỉ: <strong>45-Trương Định Quận 7 tpHCM</strong></p>
            <p>Số điện thoại: <strong>1900.8198</strong> phím 3 và <strong>0234.5678.910</strong></p>
            <p>Hotline: <strong>0943.876.099</strong></p>
            <p>Email: <a style="color: blue">hoang@shopfruit.com.vn</a></p>
        </div>
    </div>
    <h3><strong>Góp ý</strong></h3>
    <hr style="border: black 2px double">
    <table align="center" style="margin-top:30px;margin-bottom: 20px">
        <tr>
            <td><strong>Tên đầy đủ</strong></td>
            <td><input type="text" size="50" style="margin-left: 50px"></td>
        </tr>
        <tr>
            <td><strong>Email</strong></td>
            <td><input type="text" size="50" style="margin-left: 50px"></td>
        </tr>
        <tr>
            <td><strong>Điện thoại</strong></td>
            <td><input type="text" size="50" style="margin-left: 50px"></td>
        </tr>
        <tr>
            <td><strong>Thông tin liên hệ</strong></td>
            <td><textarea cols="60" rows="5" style="margin-left: 50px"></textarea></td>
        </tr>
        <tr>
            <td></td>
            <td><button type="button" class="btn btn-primary" style="margin-left:50px; width: 442px;">Gửi liên hệ</button></td>
        </tr>
    </table>
    <br>

    <h3><strong>Bản đồ</strong></h3>
    <hr style="border: black 2px double">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20922.671874171003!2d106.64747048770194!3d10.843925287500552!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529bb444b8ebf%3A0x1f69c185ca6afa87!2sShop+Fruit+Specialties+West!5e0!3m2!1sen!2s!4v1565517047667!5m2!1sen!2s"
        width=100% height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<div class="container-fluid">
    <app-footer></app-footer>
    <div>