<div class="container-fluid">
    <app-slide-anh></app-slide-anh>
</div>



<div class="div-all">
<div class="div-right">
    <div class="div1">
            <iframe width="380px" height="280px" src="https://www.youtube.com/embed/iKxSM-OJAm4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <hr style ="border: white 2px double;margin-left: 10px;margin-right: 10px">
    <div class="div2">
        <iframe width="380px" height="284px" src="https://www.youtube.com/embed/aRjg6oSrY7U?list=RDaRjg6oSrY7U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
<div class="div-left">
    <div style="padding: 20px">
        <h4><strong>Giới thiệu</strong></h4><hr>
        <a><strong>Tên cửa hàng :</strong> Shop Fruit</a>
        <p><strong>Địa chỉ :</strong><br>
            <a> - Số 58 Nhổn thành phố Hà Nội</a><br>
            <a> - Số 23 đường Tam Thiên thành phố Huế</a><br>
            <a> - Số 45 đường Trương Định Quận 7 tpHCM</a>
        </p>
        <p><strong>1. GIỚI THIỆU CHUNG</strong><br>
            <a>Shop Fruit được thành lập ngày 20/5/2019, những ngày đầu thành lập Shop chỉ có một cơ sở và 5 nhân viên. Sau hơn
                3 tháng hoạt động , quy mô của cửa hàng đã tăng lên với 3 cơ sở và hơn 20 nhân viên.
                Cửa hàng tham gia phân phối, đại lý chính thức của các sản phẩm hoa quả trong nước và nhập khẩu.<br>
                Cửa hàng có nguồn tài chính ổn định, tính chuyên nghiệp cao trong kinh doanh và chăm sóc khách hàng, đội ngũ nhân viên
                có trình độ cao để đảm bảo khách hàng được sử dụng sản phẩm tốt nhất, tươi ngon và dinh dưỡng nhất. Do đó, Shop Fruit luôn nhận được sự tin tưởng từ khách hàng trong và ngoài nước.
            </a>
        </p>
        <p><strong>2. TẦM NHÌN VÀ TRIẾT LÝ KINH DOANH</strong><br>
        <a>- Mục tiêu trở thành chuỗi cửa hàng hoa quả tiện lợi, có tính quy mô chuyên nghiệp và trải rộng khắp cả nước.<br>
            - Xây dựng cửa hàng trở thành môi tường làm việc chuyên nghiệp, mọi cá nhân đều phát huy tính sáng tạo và thế mạnh của bản thân.<br>
            - Xây dựng Shop Fruit trở thành ngôi nhà chung cho mọi nhân viên cùng nhau phát triển, chia sẻ quyền lợi, trách nhiệm và nghĩa vụ công bằng minh bạch.<br>
            - Xây dựng được triết lý kinh doanh cụ thể và có tính thực tiễn cao, đó là: thấu hiểu, tập trung, áp dụng.

        </a>
        </p>
    </div>
</div>
</div> 




<div class="container-fluid">
    <app-footer></app-footer>
        <div>
