<div class="footer">
    <div class="" style="  line-height: 15px; padding: 15px; ">
        <h5 class="card-title " style="color: white">Về chúng tôi</h5>
        <p class="card-text lead" style="font-size: 13px; color: white">Sản phẩm được thực hiện bởi sinh viên Fpt polytechnic</p>
        <p class="card-text lead" style="font-size: 13px; color: white">Tòa nhà FPT Polytechnic (nhà H), Hàm Nghi, Mỹ Đình, Nam Từ Liêm, Hà Nội</p>
        <p class="card-text lead" style="font-size: 13px; color: white">Copyright © 2019 Coffe Shop. All rights reserved.</p>
        <a class="btn btn-light" href="index.jsp" role="button" style="width: 150px; " >Về trang chủ</a>
    </div>
</div>